In [1]:
import pandas as pd
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import StandardScaler

In [2]:
wt = pd.read_csv('./weartesters.csv')

In [3]:
wt.head()

,Reviews,Shoes
0,Every once in a while a company comes across o...,lane eight trainer ad 1
1,Klay Thompson’s signature line with Anta is a...,anta kt4
2,After thirty three years of flight the Air J...,air jordan 33
3,After putting about 20 hours in to the Nike K...,nike kyrie low
4,"Almost one year ago, Under Armour unleashed H...",under armour hovr havoc low

In [4]:
wt = wt[['Shoes', 'Reviews']]

In [5]:
wt.head()

,Shoes,Reviews
0,lane eight trainer ad 1,Every once in a while a company comes across o...
1,anta kt4,Klay Thompson’s signature line with Anta is a...
2,air jordan 33,After thirty three years of flight the Air J...
3,nike kyrie low,After putting about 20 hours in to the Nike K...
4,under armour hovr havoc low,"Almost one year ago, Under Armour unleashed H..."

In [6]:
wt.shape

(532, 2)

In [7]:
wts = wt.drop_duplicates(['Shoes'], keep = 'first')

In [8]:
wts.head()

,Shoes,Reviews
0,lane eight trainer ad 1,Every once in a while a company comes across o...
1,anta kt4,Klay Thompson’s signature line with Anta is a...
2,air jordan 33,After thirty three years of flight the Air J...
3,nike kyrie low,After putting about 20 hours in to the Nike K...
4,under armour hovr havoc low,"Almost one year ago, Under Armour unleashed H..."

In [9]:
wts.shape

(524, 2)

In [10]:
drop_words = wts['Shoes'].tolist()

In [11]:
stopwords = nltk.corpus.stopwords.words('english')

In [12]:
stopwords.extend(drop_words)

In [13]:
drpwrds = []

for word in drop_words:
    if ' ' in word:
        word = word.split()
        drpwrds.extend(word)
    else:
        drpwrds.append(word)

In [14]:
len(drpwrds)

2131

In [15]:
keepwrds = ['zoom', 'hovr', 'micro g', 'air', 'boost', 'flyknit', 'low']
for word in list(keepwrds):  
    if word in drpwrds:
        drpwrds.remove(word)

In [16]:
len(drpwrds)

2125

In [17]:
tvec = TfidfVectorizer(stop_words=drpwrds)
 #tvec = TfidfVectorizer(stop_words= 'english')

In [18]:
X = tvec.fit_transform(wt['Reviews']).toarray()

/Users/slappy/anaconda3/lib/python3.6/site-packages/sklearn/feature_extraction/text.py:286: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['booker', 'done', 'far', 'kerr', 'overview', 'range', 'reveiw', 'rr2', 'vent'] not in stop_words.
  sorted(inconsistent))

In [19]:
df = pd.DataFrame(X, columns=tvec.get_feature_names(), index=wt.index)

In [20]:
df.head()

,00,000,001,00s,01,014,01oz,02,029,03,...,zumba,zx,único,άρα,έλληνας,γράφουμε,είμαστε,εδώ,καλησπέρα,που
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df.drop(df.iloc[:, 0:608], inplace=True, axis=1)

In [22]:
df.head()

,abandon,abandoned,abilities,ability,abit,ablande,able,ablity,abnormally,abolished,...,zumba,zx,único,άρα,έλληνας,γράφουμε,είμαστε,εδώ,καλησπέρα,που
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.030936,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.016778,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df.drop(df.iloc[:, 17085:17094], inplace=True, axis=1)

In [24]:
df.head()

,abandon,abandoned,abilities,ability,abit,ablande,able,ablity,abnormally,abolished,...,zoombag,zoompegasus,zooms,zoomy,zooooooommmmm,zpumps,zquick,zrated,zsx,zumba
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.030936,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.016778,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
cos = pd.DataFrame(cosine_similarity(df, df), columns = df.index)

In [26]:
cos.head()

,0,1,2,3,4,5,6,7,8,9,...,522,523,524,525,526,527,528,529,530,531
0,1.000000,0.358133,0.392301,0.242372,0.480559,0.339224,0.363102,0.436065,0.386268,0.455644,...,0.243292,0.307874,0.173864,0.236773,0.295320,0.160249,0.159058,0.129752,0.177430,0.184395
1,0.358133,1.000000,0.448957,0.298120,0.400986,0.402496,0.472594,0.409538,0.429869,0.411533,...,0.286330,0.345229,0.190585,0.267487,0.344408,0.209069,0.209568,0.186042,0.231574,0.203912
2,0.392301,0.448957,1.000000,0.318045,0.475460,0.427364,0.523485,0.480839,0.480506,0.485898,...,0.312000,0.395815,0.189668,0.326169,0.385514,0.211771,0.202242,0.196384,0.282767,0.247996
3,0.242372,0.298120,0.318045,1.000000,0.277225,0.289789,0.320918,0.278807,0.281665,0.306342,...,0.270384,0.285294,0.188980,0.223013,0.280301,0.156912,0.201366,0.182329,0.186208,0.191820
4,0.480559,0.400986,0.475460,0.277225,1.000000,0.388684,0.445590,0.506392,0.443277,0.536222,...,0.274384,0.366288,0.195890,0.281007,0.341999,0.161864,0.185732,0.185993,0.232830,0.216336

In [27]:
pt = pd.pivot_table(data = cos, columns = cos.columns)

In [28]:
pt.head()

,0,1,2,3,4,5,6,7,8,9,...,522,523,524,525,526,527,528,529,530,531
0,1.000000,0.358133,0.392301,0.242372,0.480559,0.339224,0.363102,0.436065,0.386268,0.455644,...,0.243292,0.307874,0.173864,0.236773,0.295320,0.160249,0.159058,0.129752,0.177430,0.184395
1,0.358133,1.000000,0.448957,0.298120,0.400986,0.402496,0.472594,0.409538,0.429869,0.411533,...,0.286330,0.345229,0.190585,0.267487,0.344408,0.209069,0.209568,0.186042,0.231574,0.203912
2,0.392301,0.448957,1.000000,0.318045,0.475460,0.427364,0.523485,0.480839,0.480506,0.485898,...,0.312000,0.395815,0.189668,0.326169,0.385514,0.211771,0.202242,0.196384,0.282767,0.247996
3,0.242372,0.298120,0.318045,1.000000,0.277225,0.289789,0.320918,0.278807,0.281665,0.306342,...,0.270384,0.285294,0.188980,0.223013,0.280301,0.156912,0.201366,0.182329,0.186208,0.191820
4,0.480559,0.400986,0.475460,0.277225,1.000000,0.388684,0.445590,0.506392,0.443277,0.536222,...,0.274384,0.366288,0.195890,0.281007,0.341999,0.161864,0.185732,0.185993,0.232830,0.216336

In [29]:
pt.shape

(532, 532)

In [30]:
distances = 1-pairwise_distances(pt.T, metric='correlation')

In [31]:
ddf = pd.DataFrame(distances,index=wt['Shoes'], columns=wt['Shoes'])

In [32]:
ddf.head()

Shoes,lane eight trainer ad 1,anta kt4,air jordan 33,nike kyrie low,under armour hovr havoc low,puma clyde court disrupt,adidas pro bounce,nike lebron 16,anta nasa seed galaxy,nike kobe ad exodus,...,nike lebron 9,adidas adizero rose,air jordan 8 0,air jordan 8 0,air jordan 2011 q flight/,nike zoom hyperdunk 2011,under armour micro g clutch,nike zoom kd,adidas adizero crazy light,jordan fly wade
Shoes,,,,,,,,,,,,,,,,,,,,,
lane eight trainer ad 1,1.000000,0.763122,0.777576,0.532718,0.902441,0.743195,0.750973,0.865661,0.791871,0.885723,...,0.500922,0.604096,0.206122,0.481455,0.599773,0.311222,0.242750,0.186733,0.421325,0.399353
anta kt4,0.763122,1.000000,0.892455,0.687134,0.797476,0.859675,0.900003,0.847366,0.876851,0.822023,...,0.660501,0.765660,0.297406,0.654608,0.767557,0.505002,0.426019,0.354147,0.585282,0.539882
air jordan 33,0.777576,0.892455,1.000000,0.707683,0.829665,0.883000,0.932962,0.889029,0.907951,0.854782,...,0.693132,0.808680,0.296133,0.701029,0.800559,0.527859,0.432498,0.370828,0.630324,0.590226
nike kyrie low,0.532718,0.687134,0.707683,1.000000,0.569310,0.693261,0.716700,0.642346,0.673173,0.611722,...,0.624102,0.677972,0.291766,0.581820,0.668539,0.448895,0.424807,0.359184,0.491220,0.506713
under armour hovr havoc low,0.902441,0.797476,0.829665,0.569310,1.000000,0.779488,0.802099,0.904506,0.830777,0.931578,...,0.519920,0.633030,0.214572,0.508816,0.627753,0.315465,0.268697,0.229750,0.471386,0.421562

In [41]:
query = input('  Choose a shoe: ')
query = [col for col in ddf.columns if query in col][0]
ddf[query].sort_values(ascending=False)[1:4]

  Choose a shoe: wade 4

Shoes
nike kobe x 10        0.925637
adidas d rose 6       0.925540
adidas d lillard 2    0.925354
Name: li ning way wade 4, dtype: float64