In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import StandardScaler

In [2]:
wt = pd.read_csv('./weartesters.csv')

In [3]:
wt.head()

,Reviews,Shoes
0,Every once in a while a company comes across o...,lane eight trainer ad 1
1,Klay Thompson’s signature line with Anta is a...,anta kt4
2,After thirty three years of flight the Air J...,air jordan 33
3,After putting about 20 hours in to the Nike K...,nike kyrie low
4,"Almost one year ago, Under Armour unleashed H...",under armour hovr havoc low

In [4]:
wt = wt[['Shoes', 'Reviews']]

In [5]:
wt.head()

,Shoes,Reviews
0,lane eight trainer ad 1,Every once in a while a company comes across o...
1,anta kt4,Klay Thompson’s signature line with Anta is a...
2,air jordan 33,After thirty three years of flight the Air J...
3,nike kyrie low,After putting about 20 hours in to the Nike K...
4,under armour hovr havoc low,"Almost one year ago, Under Armour unleashed H..."

In [6]:
tvec = TfidfVectorizer(stop_words='english')

In [7]:
X = tvec.fit_transform(wt['Reviews']).toarray()

In [8]:
df = pd.DataFrame(X, columns=tvec.get_feature_names(), index=wt.index)

In [9]:
df.head()

,00,000,001,00s,01,014,01oz,02,029,03,...,zumba,zx,único,άρα,έλληνας,γράφουμε,είμαστε,εδώ,καλησπέρα,που
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
cos = pd.DataFrame(cosine_similarity(df, df), columns = df.index)

In [11]:
cos.head()

,0,1,2,3,4,5,6,7,8,9,...,522,523,524,525,526,527,528,529,530,531
0,1.000000,0.059964,0.092233,0.058816,0.076161,0.072234,0.105638,0.134354,0.101116,0.296699,...,0.065663,0.074222,0.046150,0.055854,0.066961,0.026435,0.040875,0.025830,0.040852,0.039081
1,0.059964,1.000000,0.075589,0.088461,0.044536,0.103532,0.117227,0.108825,0.272607,0.078680,...,0.085022,0.101650,0.053792,0.051293,0.081245,0.050819,0.072446,0.055088,0.052933,0.059399
2,0.092233,0.075589,1.000000,0.131100,0.063498,0.093024,0.133710,0.146588,0.130041,0.133333,...,0.099040,0.171443,0.089867,0.164514,0.177205,0.055818,0.080446,0.067820,0.080744,0.117718
3,0.058816,0.088461,0.131100,1.000000,0.065435,0.093925,0.131544,0.092321,0.099323,0.132828,...,0.136424,0.143085,0.119614,0.097065,0.124621,0.078470,0.123415,0.105064,0.082211,0.085332
4,0.076161,0.044536,0.063498,0.065435,1.000000,0.050256,0.085394,0.094324,0.076254,0.093620,...,0.051177,0.066521,0.032907,0.050383,0.060596,0.019200,0.036392,0.043569,0.035157,0.034716

In [12]:
pt = pd.pivot_table(data = cos, columns = cos.columns)

In [13]:
pt.head()

,0,1,2,3,4,5,6,7,8,9,...,522,523,524,525,526,527,528,529,530,531
0,1.000000,0.059964,0.092233,0.058816,0.076161,0.072234,0.105638,0.134354,0.101116,0.296699,...,0.065663,0.074222,0.046150,0.055854,0.066961,0.026435,0.040875,0.025830,0.040852,0.039081
1,0.059964,1.000000,0.075589,0.088461,0.044536,0.103532,0.117227,0.108825,0.272607,0.078680,...,0.085022,0.101650,0.053792,0.051293,0.081245,0.050819,0.072446,0.055088,0.052933,0.059399
2,0.092233,0.075589,1.000000,0.131100,0.063498,0.093024,0.133710,0.146588,0.130041,0.133333,...,0.099040,0.171443,0.089867,0.164514,0.177205,0.055818,0.080446,0.067820,0.080744,0.117718
3,0.058816,0.088461,0.131100,1.000000,0.065435,0.093925,0.131544,0.092321,0.099323,0.132828,...,0.136424,0.143085,0.119614,0.097065,0.124621,0.078470,0.123415,0.105064,0.082211,0.085332
4,0.076161,0.044536,0.063498,0.065435,1.000000,0.050256,0.085394,0.094324,0.076254,0.093620,...,0.051177,0.066521,0.032907,0.050383,0.060596,0.019200,0.036392,0.043569,0.035157,0.034716

In [14]:
pt.shape

(532, 532)

In [15]:
distances = 1-pairwise_distances(pt.T, metric='correlation')

In [16]:
ddf = pd.DataFrame(distances,index=wt['Shoes'], columns=wt['Shoes'])

In [17]:
ddf.head()

Shoes,lane eight trainer ad 1,anta kt4,air jordan 33,nike kyrie low,under armour hovr havoc low,puma clyde court disrupt,adidas pro bounce,nike lebron 16,anta nasa seed galaxy,nike kobe ad exodus,...,nike lebron 9,adidas adizero rose,air jordan 8 0,air jordan 8 0,air jordan 2011 q flight/,nike zoom hyperdunk 2011,under armour micro g clutch,nike zoom kd,adidas adizero crazy light,jordan fly wade
Shoes,,,,,,,,,,,,,,,,,,,,,
lane eight trainer ad 1,1.000000,0.063684,0.143179,0.041777,0.119344,0.123525,0.217355,0.272684,0.156691,0.529262,...,0.035163,0.067156,-0.077201,-0.011274,0.027994,-0.056872,-0.070126,-0.070258,-0.018100,-0.022238
anta kt4,0.063684,1.000000,0.175797,0.136257,0.018009,0.224417,0.238919,0.220734,0.598702,0.142658,...,0.182989,0.203834,0.048191,0.091309,0.170092,0.097702,0.082829,0.054992,0.093959,0.123848
air jordan 33,0.143179,0.175797,1.000000,0.330840,0.028743,0.248617,0.346484,0.397841,0.327029,0.315094,...,0.373703,0.506501,0.266361,0.476978,0.519195,0.234229,0.206143,0.185993,0.232764,0.359313
nike kyrie low,0.041777,0.136257,0.330840,1.000000,0.003096,0.206306,0.281904,0.237390,0.203696,0.263603,...,0.317099,0.344842,0.193442,0.251466,0.316113,0.215550,0.208752,0.202251,0.194651,0.202111
under armour hovr havoc low,0.119344,0.018009,0.028743,0.003096,1.000000,0.019182,0.088836,0.119248,0.062905,0.107183,...,-0.020766,0.004356,-0.095314,-0.044333,-0.015754,-0.054606,-0.043921,-0.038048,-0.044475,-0.040746

In [25]:
query = input('  Choose a shoe/Brand: ')
query = [col for col in ddf.columns if query in col][0]
ddf[query].sort_values(ascending=False)[1:5]

  Choose a shoe/Brand: nike kyrie low

Shoes
nike kyrie low          0.731257
nike kyrie 4            0.730160
nike kyrie s1 hybrid    0.698964
nike kyrie 3            0.693523
Name: nike kyrie low, dtype: float64

# Slides

https://docs.google.com/presentation/d/1tGby5vxngqg6NHGR5jyhGw-4-Z-B_gpVOm1jc_8CtgU/edit?usp=sharing