In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.preprocessing import StandardScaler

In [2]:
wt = pd.read_csv('./weartesters.csv')

In [3]:
wt = wt[['Shoes', 'Reviews']]

In [4]:
tvec = TfidfVectorizer(stop_words='english')

In [5]:
X = tvec.fit_transform(wt['Reviews']).toarray()

In [6]:
df = pd.DataFrame(X, columns=tvec.get_feature_names(), index=wt.index)

In [7]:
cos = pd.DataFrame(cosine_similarity(df, df), columns = df.index)

In [8]:
pt = pd.pivot_table(data = cos, columns = cos.columns)

In [9]:
pt.shape

(532, 532)

In [10]:
distances = 1-pairwise_distances(pt.T, metric='correlation')

In [11]:
ddf = pd.DataFrame(distances,index=wt['Shoes'], columns=wt['Shoes'])

In [14]:
ddf.head()

Shoes,lane eight trainer ad 1,anta kt4,air jordan 33,nike kyrie low,under armour hovr havoc low,puma clyde court disrupt,adidas pro bounce,nike lebron 16,anta nasa seed galaxy,nike kobe ad exodus,...,nike lebron 9,adidas adizero rose,air jordan 8 0,air jordan 8 0,air jordan 2011 q flight/,nike zoom hyperdunk 2011,under armour micro g clutch,nike zoom kd,adidas adizero crazy light,jordan fly wade
Shoes,,,,,,,,,,,,,,,,,,,,,
lane eight trainer ad 1,1.000000,0.063684,0.143179,0.041777,0.119344,0.123525,0.217355,0.272684,0.156691,0.529262,...,0.035163,0.067156,-0.077201,-0.011274,0.027994,-0.056872,-0.070126,-0.070258,-0.018100,-0.022238
anta kt4,0.063684,1.000000,0.175797,0.136257,0.018009,0.224417,0.238919,0.220734,0.598702,0.142658,...,0.182989,0.203834,0.048191,0.091309,0.170092,0.097702,0.082829,0.054992,0.093959,0.123848
air jordan 33,0.143179,0.175797,1.000000,0.330840,0.028743,0.248617,0.346484,0.397841,0.327029,0.315094,...,0.373703,0.506501,0.266361,0.476978,0.519195,0.234229,0.206143,0.185993,0.232764,0.359313
nike kyrie low,0.041777,0.136257,0.330840,1.000000,0.003096,0.206306,0.281904,0.237390,0.203696,0.263603,...,0.317099,0.344842,0.193442,0.251466,0.316113,0.215550,0.208752,0.202251,0.194651,0.202111
under armour hovr havoc low,0.119344,0.018009,0.028743,0.003096,1.000000,0.019182,0.088836,0.119248,0.062905,0.107183,...,-0.020766,0.004356,-0.095314,-0.044333,-0.015754,-0.054606,-0.043921,-0.038048,-0.044475,-0.040746

In [19]:
query = input('  Choose a shoe/Brand: ')
query = [col for col in ddf.columns if query in col][0]
ddf[query].sort_values(ascending=False)[1:5]

  Choose a shoe/Brand: anta kt4

Shoes
anta kt3 low             0.801743
anta kt3                 0.743719
anta kt outdoor 2 low    0.643188
anta kt2                 0.636471
Name: anta kt4, dtype: float64

# Slides

https://docs.google.com/presentation/d/1tGby5vxngqg6NHGR5jyhGw-4-Z-B_gpVOm1jc_8CtgU/edit?usp=sharing